:root {
  --turn-speed: 0.18s;
}

.map-container {
  /*background-color: gray;*/
}

svg.map {
  width: 100%;
  height: auto;
  /*background-color: transparent;*/
  max-height: 100vh;
}

.portal {
  --color: #8C00BF;
  fill: var(--color);
  color: var(--color);
}

.tree {
  --color: #33654A;
  fill: var(--color);
  color: var(--color);
}

.coin {
  --color: #F1A208;
  fill: var(--color);
  color: var(--color);
}

.crate {
  --color: #644432;
  fill: var(--color);
  color: var(--color);
}

.water {
  --color: #005377;
  fill: var(--color);
  color: var(--color);
}

.wall {
  --color: #CCC;
  fill: var(--color);
  color: var(--color);
}

.buggy {
  transition: x var(--turn-speed), y var(--turn-speed), transform-origin var(--turn-speed);
}

/*.tire-tracks {*/
  /*transition: x1 var(--turn-speed), y1 var(--turn-speed), x2 var(--turn-speed), y2 var(--turn-speed)*/
/*}*/
